extends layout

block content
  p Welcome to the pootis.party API. This site contains both the API and documentation for the API
  p Visit the frontend 
    a(href="https://pootis.party/") here
  p For a list of endpoints go to 
    a(href="/endpoints") /endpoints