extends layout

block content
  h1 Pootis Party API
  h2 /
  p Welcome to the pootis.party api. 
  p You can listen to the stream at 
    a(href="/listen") /listen
    span , vote at 
      a(href="/vote") /vote
      span , submit songs at 
        a(href="/submit") /submit
        span , and listen to the vote pool at 
          a(href="/vote_pool") /vote_pool
          span .