doctype html
html(data-bs-theme="dark")
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
  body
    nav(class="navbar navbar-expand bg-body-tertiary")
      div(class="container")
        a(class="navbar-brand" href="/") Pootis Party API
        button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
          ul(class="navbar-nav me-auto mb-2 mb-lg-0")
            li(class="nav-item")
              a(class="nav-link active" aria-current="page" href="/") Root
            li(class="nav-item")
              a(class="nav-link" href="/endpoints") Endpoints
    div(class='container')
      div(class="card")
        nav(style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb")
          ol(class="breadcrumb")
            #{url = '/'}

            li(class="breadcrumb-item")
              a(href=url) .
            
            each crumb, index in breadcrumbs
              li(class="breadcrumb-item")
                a(href=url += crumb + '/')=crumb
      div(class="card")
        block content
      script(src="/bootstrap/js/bootstrap.bundle.js")
